<header id="gridHeader">
    <div id="flexHeader">
    	<div id="catchPhrase">
    		<h1>Swiftjective-C</h1>
        	<p>A periodical on the art of modern iOS software engineering.</p>
    	</div>
    	<div id="appAd">
    		<img src="https://is2-ssl.mzstatic.com/image/thumb/Purple113/v4/b6/ae/27/b6ae273c-eb12-d575-cec2-93eaadde6d38/AppIcon-0-0-1x_U007emarketing-0-0-0-7-0-0-sRGB-0-0-0-GLES2_U002c0-512MB-85-220-0-0.png/230x0w.png"></img>
    		<div>
    			<a href="https://apps.apple.com/us/app/when-did-i/id1463692593?utm_source=swiftjectivec" target="_blank">When Did I...?</a>
    			<small style="display: inline; font-style: italic;">Track when you did things</small>
    		</div>
    	</div>
    </div>
</header>