<header id="gridHeader">
    <div id="flexHeader">
    	<div id="catchPhrase">
    		<h1>Swiftjective-C</h1>
        	<p>A periodical on the art of modern iOS software engineering.</p>
    	</div>
    	<div id="appAd">
    		<img src="https://is4-ssl.mzstatic.com/image/thumb/Purple123/v4/4a/21/e7/4a21e7d1-827f-d2b5-f7ce-1023e185a23e/AppIcon-1x_U007emarketing-0-7-0-P3-85-220.png/230x0w.png"></img>
    		<div>
    			<a href="https://testflight.apple.com/join/2jekV101" target="_blank">Spend Stack Open Beta</a>
    			<small style="display: inline; font-style: italic;">Join now, running until May 25th.</small>
    		</div>
    	</div>
    </div>
</header>