<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="revisit-after" content="7 days" />
    <meta name="msapplication-TileColor" content="#70A2F9" />
    <meta name="theme-color" content="#70A2F9" />
    <link rel="shortcut icon" type="image/png" href="/favicon.ico">
    {% if layout.title == 'default' or layout.title == 'allposts' %}
    <link rel="stylesheet" href="/assets/css/main.css">
    {% elsif layout.title == 'about' %}
    <link rel="stylesheet" href="/assets/css/about.css">
    {% elsif layout.title == 'post' %}
    <meta name="twitter:data1" content="Read Time" />
    <meta name="twitter:label1" content="{% include readTime.html %}" />
    <link rel="stylesheet" href="/assets/css/post.css">
    <link rel="stylesheet" href="/assets/css/monokai.css">
    {% endif %}
    {% feed_meta %}
    {% json_feed_meta %}
    {% seo %}
    <meta name="twitter:title" content="{{ page.title }}" />
    <meta name="twitter:description" content="{{ page.description }}" />
    {% if page.tags[0] == "Trivia" %}
    <script type="text/javascript" src="/assets/js/quiz/confetti.js"></script>
    <script type="text/javascript" src="/assets/js/quiz/quiz.js"></script>
    {% endif %}
</head>