<head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-129028492-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-129028492-1');
    </script>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="revisit-after" content="7 days" />
    <meta name="msapplication-TileColor" content="#70A2F9" />
    <meta name="theme-color" content="#70A2F9" />
    <link rel="shortcut icon" type="image/png" href="/favicon.ico">
    {% if layout.title == 'default' %}
    <meta name="google-site-verification" content="aQGwzERAwYPzppAe9aeRdCSTjUs7QHKqP9VTAcL7K2Q" />
    <link rel="stylesheet" href="/assets/css/main.css">
    {% elsif layout.title == 'about' %}
    <link rel="stylesheet" href="/assets/css/about.css">
    {% elsif layout.title == 'post' %}
    <meta name="twitter:data1" content="Read Time" />
    <meta name="twitter:label1" content="{% include readTime.html %}" />
    <link rel="stylesheet" href="/assets/css/post.css">
    <link rel="stylesheet" href="/assets/css/monokai.css">
    {% endif %}
    {% feed_meta %}
    {% json_feed_meta %}
    {% seo %}
    <meta name="twitter:title" content="{{ page.title }}" />
    <meta name="twitter:description" content="{{ page.description }}" />
</head>