<link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
    <div id="mc_embed_signup">
        <form action="https://swiftjectivec.us20.list-manage.com/subscribe/post?u=86763e3ce1da1fa79f8079a24&id=b5d1e5e3bc" class="validate" id="mc-embedded-subscribe-form" method="post" name="mc-embedded-subscribe-form" novalidate="" target="_blank">
            <div id="mc_embed_signup_scroll">
                <label for="mce-EMAIL">
                </label>
                <input class="email" id="mce-EMAIL" name="EMAIL" placeholder="email address" required="" type="email" value="">
                    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                    <div aria-hidden="true" style="position: absolute; left: -5000px;">
                        <input name="b_86763e3ce1da1fa79f8079a24_b5d1e5e3bc" tabindex="-1" type="text" value=""/>
                    </div>
                    <div class="clear">
                        <input class="button" id="mc-embedded-subscribe" name="subscribe" type="submit" value="Subscribe"/>
                    </div>
                </input>
            </div>
        </form>
    </div>
</link>