<div class="postByDate">
    <a href="{{ include.post.url | prepend: site.baseurl }}"><h2>{{ include.post.title }}</h2></a>
    <div class="tagDateContainer">
    	<small>
    	{{ post.date | date: '%B %d, %Y' }}
    </small>
    <small class="articleTagByDate">
            {{ post.tags[0] }}
    </small>
    </div>
    <p>{{ include.post.description }}</p>
    <a href="{{ include.post.url | prepend: site.baseurl }}"><code>continue.reading(with: {{ include.post.title }})</code></a>
</div>
<hr />