#articleHeaderSection {
    display: flex;

}

#nowServing {
    text-align: center;
    display: block;
}

#postHeader {
    text-align: center;
    font-weight: bolder;
    font-size: 4vw;
}

#pullsWelcome {
    color: $sub-header-color;
    text-align: center;
    padding: 8px 16px 8px 16px;
}

div.highlight {
    border-radius: 8px;
    overflow: auto;
}

pre {
    overflow-x: auto;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
    padding-left: 16px;
    padding-right: 16px;
    margin-top: 32px;
    margin-bottom: 32px;
}

pre code {
    font-size: 18px;
}

article p,
ul,
li {
    font-family: Georgia, Cambria, "Times New Roman", Times, serif;
}

article h1,
h2,
h3,
h4 {
    margin-top: 64px;
}

article h3 {
    font-size: 43px;
    line-height: 1.15;
    letter-spacing: -.015em;
    margin-bottom: -8px;
}