#nowServing {
    text-align: center;
    display: block;
}

#postHeader {
    text-align: center;
    font-weight: bolder;
    font-size: 4vw;
    margin-top: 0px;
    padding-bottom: 10px;
}

#pullsWelcome {
    color: $sub-header-color;
    text-align: center;
    padding: 8px 16px 8px 16px;
}

pre {
    overflow-x: auto;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
    padding: 16px 16px 16px 16px;
    margin-top: 32px;
    margin-bottom: 32px;
}

article p,ul,li {
    font-family: Georgia, Cambria, "Times New Roman", Times, serif;
}

article h1,
h2,
h3,
h4 {
    margin-top: 64px;
}