* {
    box-sizing: border-box;
}


/* Grid System
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Style the header */
#gridHeader {
    grid-area: header;
    padding-left: 32px;
        padding-right: 32px;
    height: auto;
}

/* Style the middle column */
#gridMiddle {
    grid-area: middle;
    height: auto;
    margin-top: 32px;
    padding-left: 32px;
        padding-right: 32px;
}

/* Style the footer */
#gridFooter {
    grid-area: footer;
    padding-left: 32px;
        padding-right: 32px;
    height: auto;
}

/* The grid container */
#gridContainer {
    display: grid;
    grid-template-areas: 'header header header header''middle middle middle middle''footer footer footer footer';
    margin-left: auto;
    margin-right: auto;
    max-width: 840px;
    margin: 0 auto;
}

/* Grid Specific
–––––––––––––––––––––––––––––––––––––––––––––––––– */

#gridFooter ul {
    list-style-type: none;
}

#gridFooter li {
    display: inline;
}


/* Media Breakpoints
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Extra small devices (phones, 800px and down) */
@media (max-width: 840px) {
    #gridHeader,
    #gridMiddle,
    #gridFooter {
        width: 100vw;
    }

}