$grid-header-color: #314A4F;
$sub-header-color: #615B5B;
$sub-sub-header-color: #DDDDDD;

$middle-Width: 50vw;
$top-padding:32px;

* {
    box-sizing: border-box;
}


/* Grid System
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Style the header */
#gridHeader {
    grid-area: header;
    width: 100vw;   
    padding-left:25vw;
    padding-right:25vw;
    height:auto;
}

/* Style the middle column */
#gridMiddle {
    grid-area: middle;
    width: 100vw;
    padding-left:25vw;
    padding-right:25vw;
    height:auto;
    margin-top:32px;
}

/* Style the footer */
#gridFooter {
    grid-area: footer;
    width: 100vw;
    padding-left:25vw;
    padding-right:25vw;
    height:auto;
}

/* The grid container */
#gridContainer {
    display: grid;
    grid-template-areas: 'header header header header' 'middle middle middle middle' 'footer footer footer footer';
}

/* Media Breakpoints
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Extra small devices (phones, 600px and down) */
@media (max-width: 800px) {

    #gridHeader,
    #gridMiddle,
    #gridFooter {
        width: 100vw;
        padding-left:32px;
        padding-right:32px;
    }

}

