$middle-Width: 50vw;
$top-padding:32px;

/* Header */
#gridHeader h1 {
    font-weight: bolder;
    font-size: 4vh;
    margin-bottom: 0px;
    margin-top: 4vh;
}

#gridHeader h2 {
    margin-top: 16px;
    margin-bottom: 32px;
}

/* Middle Article Sections */

.articleSection {
    padding-top: $top-padding;
    padding-bottom: 32px;
}

.articleSection ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.articleSection li {
    float: left;
    padding-right: 8px;
}

#specialHeader {
    font-size: 40px;
    color: $header-color;
}

.houseSpecial {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
}

/* Footer */

#gridFooter ul {
    list-style-type: none;
}

#gridFooter li {
    display: inline;
}

/* Media Breakpoints
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Extra small devices (phones, 600px and down) */
@media (max-width: 800px) {

    .houseSpecial {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        flex-wrap: wrap;
    }

}