$middle-Width: 50vw;
$top-padding:32px;

/* Header */
#gridHeader h1 {
    font-weight: bolder;
    font-size: 4vh;
    margin-bottom: 0px;
    margin-top: 4vh;
    color: $header-color;
}

#gridHeader h2 {
    color: $sub-header-color;
    margin-top: 16px;
    margin-bottom:32px;
}

/* Middle Article Sections */

.articleSection {
    padding-top: $top-padding;
    padding-bottom: 32px;
}

.articleSection h2, h3 {
    color: $sub-header-color;
}

.articleSection ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.articleSection li {
    float: left;
    padding-right:8px;
}

#specialHeader {
    font-size:40px;
    color: $header-color;
}

.houseSpecial {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}


/* Footer */

#gridFooter ul {
    list-style-type: none;
}

#gridFooter li {
    display: inline;
}

