/* Header */
#gridHeader h1 {
    font-weight: bolder;
    font-size: 4vh;
    margin-bottom: 0px;
    margin-top: 4vh;
}

#gridHeader h3 {
    margin-top: 0px;
    margin-bottom: 32px;
}

/* Top Article Section */

#articleWellLatest h2 {
    font-size: 56px;
    color: $header-color;
    margin-top: 8px;
    margin-bottom: 0px;
    overflow-x: auto;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}

#articleWellLatest p {
    margin-top: 8px;
    margin-bottom: 4px;
}

.articleWell {
    margin-top: 16px;
    width: 50%;
}

.articleWell h2 {
    margin-bottom: 0px;
    overflow-x: auto;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}

.articleWell p {
    margin-top: 8px;
    margin-bottom: 4px;
}

/* Middle Article Sections */

.articleSection {
    padding-top: $top-padding;
    padding-bottom: 32px;
}

.articleSection ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.articleSection li {
    float: left;
    padding-right: 8px;
}

.houseSpecial {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
}

/* Bottom Tag Sections */

.tagHeader {
    margin-bottom: 0px;
    margin-top: 32px;
}

/* Media Breakpoints
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Extra small devices (phones, 600px and down) */
@media (max-width: 800px) {

    #articleWellLatest h2 {
        font-size: 36px;
    }

    .articleWell {
        width: 100%;
    }

    .houseSpecial {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        flex-wrap: wrap;
    }

}