 body {
     background-color: #FFFFFF;
     font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
     font-size: 21px;
     line-height: 1.58;
     letter-spacing: -.003em;
     text-rendering: optimizeLegibility;
     -webkit-font-smoothing: antialiased;
     -moz-osx-font-smoothing: grayscale;
     -moz-font-feature-settings: "liga"on;
     border-bottom: 5px solid $secondary-color;
     margin: 0;
 }
 /* Flexbox Generic 
 –––––––––––––––––––––––––––––––––––––––––––––––––– */

 .flexMe {
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     align-items: center;
 }
 /* Tag

 –––––––––––––––––––––––––––––––––––––––––––––––––– */

 .articleTag {
     background-color: $secondary-color;
     color: white;
     padding: 4px 6px 4px 6px;
     border-radius: 6px;
     font-size: 12px;
     display: block;
     width: 108px;
 }
 .articleTagByDate {
     background-color: $secondary-color;
     color: white;
     padding: 4px 6px 4px 6px;
     border-radius: 6px;
     font-size: 12px;
     margin-left: 16px;
 }
 .tagDateContainer {
     display: flex;
     flex-direction: row;
     flex-wrap: nowrap;
     justify-content: flex-start;
     align-items: center;
     align-content: stretch;
 }
 /* Links
–––––––––––––––––––––––––––––––––––––––––––––––––– */

 a:link {
     color: #70A2F9;
 }
 /* visited link */

 a:visited {
     color: #70A2F9;
 }
 /* mouse over link */

 a:hover {
     color: #3F464B;
 }
 /* selected link */

 a:active {
     color: #70A2F9;
 }

 /* Selectors
–––––––––––––––––––––––––––––––––––––––––––––––––– */

 blockquote {
     border-left: 6px solid $sub-header-color;
     padding: 0.5em 10px;
     color: $sub-header-color;
 }
 blockquote p {
     display: inline;
     font-style: italic;
 }
 h1 {
     color: $header-color;
 }
 h2, h3, h3, h4 {
     color: $sub-header-color;
 }
 hr {
     color: $sub-sub-header-color;
 }
 footer {
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     align-items: center;
     color: #202428;
     font-weight: 300;
     margin-top: 32px;
     margin-bottom: 16px;
 }
 img {
     border-radius: 25px;
 }
 article h2, h3, h4 {
     margin-top: 64px;
 }
 article h3 {
     font-weight: 700;
     font-size: 32px;
     line-height: 1.15;
     letter-spacing: -.015em;
     margin-bottom: 16px;
 }
 article p {
     margin-top: 8px;
 }

 /* Media Breakpoints
–––––––––––––––––––––––––––––––––––––––––––––––––– */

 /* Extra small devices (phones, 800px and down) */

 @media (max-width: 840px) {
     #gridHeader, #gridMiddle, #gridFooter {
         width: 100vw;
         padding-left: 32px;
         padding-right: 32px;
     }
     body {
         font-size: 100%;
     }
     .flexMe {
         flex-direction: column;
         align-items: flex-start;
     }
     .tagDateContainer {
         flex-direction: column;
         align-items: flex-start;
     }
     .articleTag {
         margin-left: 0px;
     }
     .articleTagByDate {
         margin-left: 0px;
         margin-top:  8px;
     }
     article h3 {
         font-size: 26px;
     }
     blockquote {
         margin: 0;
     }
 }

 @media (prefers-color-scheme: dark) {
     h1, h2, h3, h3, h4 {
         color: white !important;
         opacity: 0.6 !important;
     }
     hr {
         color: #FFFF00 !important;
     }
     body {
         background-color: #2c2d2f !important;
         color: white !important;
     }
     code {
         color: white !important;
     }
     blockquote {
         border-left: 6px solid white !important;
         padding: 0.5em 10px;
         color: white !important;
     }
     blockquote p {
         opacity: 0.5 !important;
     }
     #mc_embed_signup {
         background: #2c2d2f !important;
     }
     #mc_embed_signup input.email {
         background-color: #2c2d2f !important;
     }
 }