---
title: allposts
---
<!DOCTYPE doctype html>
<html lang="en-US">
    {% include head.html %}
    <body>
        <div id="gridContainer">
            {% include smallHeader.html %}
            <main id="gridMiddle">
                {% assign sorted = site.posts | sort: "date" | reverse %}
                    {% for post in sorted %}
                    {% include postByDate.html post=post %}
                    {% endfor %}
            </main>
            <footer id="gridFooter">
                {% include footer.html %}
            </footer>
        </div>
    </body>
</html>