---
title: post
---
<!doctype html>
<html>
{% include head.html %}
{% assign githubURL='https://github.com/DreamingInBinary/Swiftjective-C/' %}

<body>
    <div id="gridContainer">
        {% include smallHeader.html %}
        <main id="gridMiddle">
            <article itemscope itemtype="http://schema.org/BlogPosting">
                <section id="articleHeaderSection">
                    <i>Now serving...</i>
                    <h1 id="postHeader">{{ page.title }}</h1>
                    <small id="miniphon">Written by {{ page.author }} &#8226; {{ page.date | date_to_string: "ordinal", "US" }}</small>
                </section>
                {{ content }}
            </article>
            <p id="pullsWelcome">Spot any corrections or have anything to add?<br />Feel free to open an <a href="{{ githubURL | append:'issues' }}" target="_blank">issue</a> or create a <a href="{{ githubURL | append: 'tree/master/_posts/'}}{{ page.path | remove_first:'_posts/' }}" target="_blank">pull request</a> for this article.</p>
            {% assign next_post = page.next %}
            {% if next_post == null %}
            {% assign next_post = site.posts | slice:1, 2 | first  %}
            {% endif %}
            <div id="next">
                <hr />
                <h4>Next up...</h4>
                <a href="{{ next_post.url }}"><h1>{{ next_post.title }}</h1></a>
                {{ next_post.description | markdownify }}
                <hr />
            </div>
        </main>
        <footer id="gridFooter">
            {% include footer.html %}
        </footer>
    </div>
    {% include fathom.html %}
</body>

</html>