---
title: post
---
<!doctype html>
<html>
{% include head.html %}
{% assign githubURL='https://github.com/DreamingInBinary/Swiftjective-C/' %}

<body>
    <div id="gridContainer">
        {% include smallHeader.html %}
        <main id="gridMiddle">
            <article>
                <section id="articleHeaderSection">
                    <i>Now serving...</i>
                    <h1 id="postHeader">{{ page.title }}</h1>
                    <i id="miniphon">Written by {{ page.author }} &#8226; {{ page.date | date_to_string: "ordinal", "US" }}</i>
                </section>
                {{ content }}
            </article>
            <p id="pullsWelcome">Spot any corrections or have anything to add?<br />Feel free to open an <a href="{{ githubURL | append:'issues' }}">issue</a> or create a <a href="{{ githubURL | append: 'tree/master/_posts/'}}{{ page.path | remove_first:'_posts/' }}">pull request</a> for this article.</p>
            <hr />
            {% assign next_post = site.posts | shuffle | first %}
            {% if next_post %}
            <div>
                <h4>Next article...</h4>
                <h1 class="title"><a href="{{ next_post.url }}" title="{{ next_post.title }}" rel="next">{{ next_post.title | camel_break }}</a></h1>
                {{ next_post.excerpt | markdownify }}
            </div>
            {% endif %}
            <hr />
        </main>
        <footer id="gridFooter">
            {% include footer.html %}
        </footer>
    </div>
    {% include fathom.html %}
</body>

</html>